/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-icon-button.mat-accent {
  color: #00e678;
}

@font-face {
  font-family: "Univers";
  src: local("Univers"), url(./assets/fonts/Univers.otf) format("truetype");
}

.mat-typography h1 {
  font-family: "Univers";
  margin: 0;
  padding-left: 2.1rem;
}
