<div class="todo-columns">
  <div class="row">
    <div class="col-md-3">
      <div class="card-wrapper">
        <mat-card>
          <form [formGroup]="todoForm">
            <mat-form-field appearance="fill">
              <mat-label>Task name</mat-label>
              <input
                #inputField
                formControlName="item"
                matInput
                placeholder="Something need doing?"
              />
              <mat-icon matSuffix>event_note</mat-icon>
              <mat-hint>Add a TODO</mat-hint>
            </mat-form-field>
            <div class="button-wrapper">
              <button
                *ngIf="!editingEnabled"
                (click)="addTask()"
                mat-raised-button
                [disabled]="todoForm.invalid"
                color="primary"
              >
                Add
              </button>
              <button
                *ngIf="editingEnabled"
                (click)="updateTask()"
                mat-raised-button
                [disabled]="todoForm.invalid"
                color="primary"
              >
                Update
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
    <div class="col-md-9">
      <div cdkDropListGroup>
        <div class="row">
          <div class="col-md-4">
            <!-- TODO -->
            <div class="tasks-container">
              <h2 class="list-title">
                Tasks
                <span *ngIf="tasks.length > 0"> - {{ tasks.length }}</span>
              </h2>

              <div
                cdkDropList
                [cdkDropListData]="tasks"
                class="tasks-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="task-box"
                  *ngFor="let item of tasks; let i = index"
                  cdkDrag
                >
                  {{ item.description }}
                  <div class="box">
                    <button
                      mat-icon-button
                      color="warn"
                      (click)="deleteTask(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button
                      mat-icon-button
                      color="primary"
                      (click)="editTask(item, i)"
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- InProgress -->
            <div class="in-progress-container">
              <h2 class="list-title">
                In Progress
                <span *ngIf="inProgress.length > 0">
                  - {{ inProgress.length }}</span
                >
              </h2>

              <div
                cdkDropList
                [cdkDropListData]="inProgress"
                class="tasks-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="task-box"
                  *ngFor="let item of inProgress; let i = index"
                  cdkDrag
                >
                  {{ item.description }}
                  <div class="box">
                    <button
                      mat-icon-button
                      color="warn"
                      (click)="deleteTaskInProgress(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- Done -->
            <div class="done-container">
              <h2 class="list-title">
                Done <span *ngIf="done.length > 0"> - {{ done.length }}</span>
              </h2>

              <div
                cdkDropList
                [cdkDropListData]="done"
                class="tasks-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="task-box"
                  *ngFor="let item of done; let i = index"
                  cdkDrag
                >
                  {{ item.description }}
                  <div class="box">
                    <button
                      mat-icon-button
                      color="accent"
                      (click)="deleteDone(i)"
                    >
                      <mat-icon>check_circle</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
