<div class="todo-columns">
  <div clas="row">
    <div style="background: #787878; height: 95vh" class="col-md-3">
      <div class="card-wrapper" style="padding: 1vw">
        <mat-card>
          <form>
            <mat-form-field appearance="fill">
              <mat-label>Fill form field</mat-label>
              <input matInput placeholder="Placeholder" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </form>
        </mat-card>
      </div>
    </div>
    <div class="col-md-9"></div>
  </div>
</div>
